<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ccb269">  <td>21/06/05 11:18:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Ole.hello()[pri:0, instance:com.infy.pages.Ole@6c130c45]">&gt;&gt;hello</td> 
<td>&nbsp;</td>  <td>main@1293241549</td>   <td></td> </tr>
<tr bgcolor="ccb269">  <td>21/06/05 11:18:44</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ole.tell()[pri:0, instance:com.infy.pages.Ole@6c130c45]">tell</td> 
  <td>main@1293241549</td>   <td></td> </tr>
</table>
